
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados</h2>
<hr />

<div style="text-align: right;">
    <button class="btn btn-success" onclick="ShowModal();">Registrar</button>
</div>

<br /><br />

<div class="container">
    <div class="row">
        <table class="table table-responsive table-dark table-hover" id="tableEmpleado">
            <thead class="table-light text-center">
                <tr>
                    <th>Editar</th>
                    <th>Id</th>
                    <th>Número nomina</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Entidad federativa</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="formulario">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Formulario</h5>
                    <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body">
                <input type="text" id="txtId" value="" hidden />

                <label for="">Numero nomina:</label>
                <input class="form-control" type="text" placeholder="Ingresa tu nombre" id="txtNumeroNomina" />
                <label for="">Nombre(s):</label>
                <input class="form-control" type="text" placeholder="Ingresa tu nombre" id="txtNombre" />
                <label for="">Apellido paterno:</label>
                <input class="form-control" type="text" placeholder="Ingresa tu nombre" id="txtApellidoPaterno" />
                <label for="">Apellido materno:</label>
                <input class="form-control" type="text" placeholder="Ingresa tu nombre" id="txtApellidoMaterno" />

                <label for="ddlCatalogoEntidadFederativa">Entidad federativa</label>
                <br />
                <select class="custom-select custom-select-sm" id="ddlCatalogoEntidadFederativa">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Operacion();">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="HiddenModal();">Cerrar</button>
            </div>
        </div>
    </div>
</div>




<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/Empleado/CRUD.js"></script>