
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados</h2>
<hr />

<div style="text-align: right;">
    <a class="btn btn-success">Registrar</a>
</div>

<br /><br />

<div class="container">
    <div class="row">
        <table class="table table-responsive table-dark table-hover" id="tableEmpleado">
            <thead class="table-light text-center">
                <tr>
                    <th>Editar</th>
                    <th>Id</th>
                    <th>Número nomina</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Entidad federativa</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/Empleado/CRUD.js"></script>